[submodule "Shelby/vendor/spdlog"]
	path = Shelby/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Shelby/vendor/GLFW"]
	path = Shelby/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
